<div class="container">
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" formControlName="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" required>
      </div>
      <div class="form-group">
        <label for="password">Repeat password</label>
        <input id="rep-password" type="password" formControlName="repPassword" required>
      </div>
      <button type="submit" [disabled]="signupForm.invalid || isInProgress">Sign Up</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login</a></p>

    <mat-progress-bar mode="indeterminate" *ngIf="isInProgress"></mat-progress-bar>
</div>  