<nav class="navbar">
    <div class="navbar-container">
      <a class="navbar-brand" routerLink="/">RbMessenger</a>
      <ul class="navbar-nav">
        @if (isAuthenticated) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/users-list">Users list</a>
          </li>
          <li class="nav-item">
            <p class="nav-link" (click)="logout()" style="cursor: pointer;">Log out</p>
          </li>
        }
        @else {
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Sign Up</a>
          </li>
        }
      </ul>
    </div>
</nav>

<div id="site-content">
    <router-outlet></router-outlet>
</div>
