#site-content{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: #777777;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-link:hover {
    text-decoration: underline;
}

.success-snack-bar-panel{
  background-color: rgb(100, 221, 114);
}

.err-snack-bar-panel{
  background-color: rgb(245, 115, 115);
}

.warn-snack-bar-panel{
  background-color: rgb(213, 213, 103);
}
